@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  shadow: 1px 1px 0 rgb(0 0 0 / 20%);
}

.hero__section {
  background: linear-gradient(135deg, #051c2c 60%, #03339c 100%);
  text-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
}

/* .mobile__header {
  background: url('https://www.soprasteria.com/images/librariesprovider2/sopra-steria-corporate-images/ia-cloud_4-1920.jpg?sfvrsn=93d9a1dc_3');
  background-position: center;
  background-repeat: no-repeat;
} */
